BasedOnStyle: GNU
Language: Cpp
IndentWidth: 2
TabWidth: 8
UseTab: Never
BreakBeforeBraces: GNU
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceBeforeSquareBrackets: false
SpaceAfterCStyleCast: true
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 80
AlwaysBreakAfterReturnType: None
BreakConstructorInitializersBeforeComma: false
CommentPragmas: '^ IWYU pragma:'
IndentExternBlock: AfterExternBlock
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true
ReflowComments: true
SortIncludes: true
PointerAlignment: Left
SpaceBeforeCaseColon: false
